/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    background-color: lightgrey;

}



/* Header */


h1 {
    font-family: "Luckiest Guy", sans-serif;
    letter-spacing: 2px;
    text-align: center;
    font-size: 350%;
    width: 100%;
    background-color: rgb(255, 165, 0);
    cursor: pointer;
    border: 2px solid transparent;
    box-shadow: 0 8px 10px rgba(235, 40, 40, 0.2);
    border-radius: 0 0 6px 6px;

}

h1:hover {
    transition: border-color 0.3s ease;
    border: 2px solid black;
}

h1 span {
    margin-right: 15px;
}

main button {
    background-color: rgb(255, 165, 0);
    font-family: "Quicksand", sans-serif;
    font-weight: 900;
    cursor: pointer;
    border: 2px solid transparent;
    /* Reserve space for the border */
}

button {
    box-shadow: 0 0 2px 2px rgba(94, 61, 2, 0.5);

}

button:focus,
button:hover {
    transition: border-color 0.4s ease;
    border: 2px solid black;
    /* Smooth transition for border color */
    outline: none;


}

.introduction {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.introduction p {
    font-size: 100%;
    padding: 0 15px;
}

.font-icons {
    font-size: 180%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.font-icons i {
    padding: 0 5px;

}


#start-button {
    width: 70%;
    height: 6rem;
    border-radius: 5%;
    font-size: 200%;
    font-family: "Luckiest Guy", sans-serif;
    cursor: pointer;
    background-color: rgb(255, 165, 0);
    /* margin-top: 5px; */
    border: 2px solid transparent;
}

#start-button:hover,
#start-button:focus {
    border: 2px solid black;
}

/*
* Main
* Make the main element take up any surplus space to push the footer down
* Appears only when the "Lets play" button is clicked
*/

main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.game-area {
    display: flex;
    flex-direction: column;
}

.game-questions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
}

.game-questions>div {
    padding: 5px 10px;
}

.game-questions button {
    font-size: 100%;
    padding: 5px 5px;
    margin: 5px 5px;
    border-radius: 5%;
}

.game-questions p {
    font-size: 110%;
    margin-bottom: 15px;
}

.game-selection button {
    margin-top: 0.5rem;
}

.score-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.score-area p {
    padding: 10px;
}


.game {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    margin: 1.5rem 0.5rem;
    background-color: rgba(181, 180, 179, 0.8);
    box-shadow: 0 0 5px 5px rgba(189, 4, 4, 0.3);
}

.game img {
    padding: 2px;
}

.images-box {
    display: flex;
    padding: 1rem;
    justify-content: center;

}

.dice-images {
    width: 8rem;
    height: 8.5rem;
    object-fit: contain;
}

.dice-size {
    width: 4rem;
    height: 4rem;
}

/* Creates a rolling dice animation by rotating the dice on the X and Y axes. */

@keyframes roll {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    25% {
        transform: rotateX(180deg) rotateY(0deg);
    }

    50% {
        transform: rotateX(180deg) rotateY(180deg);
    }

    75% {
        transform: rotateX(0deg) rotateY(180deg);
    }

    100% {
        transform: rotateX(0deg) rotateY(0deg);
    }
}

.dice {
    animation: roll 0.5s ease-in-out;
}


#roll-btn {
    width: 50%;
    padding: 10px;
    margin: 10px;
    font-size: 100%;
    border-radius: 5%;
}

.counter-style {
    color: rgb(212, 254, 3);
    font-size: 140%;
}

#choose-opponent {
    margin: 10px 0;
}

#choose-opponent p {
    padding: 5px;
}

#choose-opponent-btn {
    font-size: 100%;
    border-radius: 5%;
    margin: 2px;
    padding: 0.5rem;
    margin-bottom: 15px;
}

/* versus computer game */

.player-vs-computer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0.5rem;
}

.computer-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0.5rem;
}

.dice-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.tries-area {
    margin-top: 1.2rem;
}


/*Footer */

footer {
    margin-top: 17px;
    text-align: center;
    padding: 10px;
    background-color: rgb(196, 128, 3);
    box-shadow: 0 -4px 10px rgba(235, 40, 40, 0.3);
    border-radius: 8px 8px 0 0;
}

/*Styling from tablet (768px) and above */

@media (min-width: 768px) {

    body {
        font-size: 120%;
    }

    h1 {
        height: 8rem;
        font-size: 400%;
    }

    h1 span {
        display: inline-block;
        margin-top: 25px;
    }

    footer {
        padding: 2rem;
    }

    .dice-images {
        width: 12rem;
        height: 12rem;
    }

    #start-button {
        border-radius: 25px;
        font-size: 250%;
    }


    #roll-btn {
        font-size: 160%;
        letter-spacing: 1px;
        width: 15rem;
    }

    #choose-opponent-btn {
        font-size: 110%;
        border-radius: 5%;
        margin: 2px;
        padding: 0.5rem;
        margin-bottom: 15px;
        width: 25rem;
    }

    .game-settings-btn {
        width: 15rem;
        height: 4rem;
        font-size: 5px;
        font-weight: 600;
    }

    .game p {
        margin: 0 5rem;
    }


    .game {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }

    .images-box>img:first-child {
        padding-right: 2.2rem;
        width: 15rem;
        height: 15rem;
    }

    .images-box>img:last-child {
        padding-left: 2.2rem;
        width: 15rem;
        height: 15rem;
    }

    .font-icons>* {
        font-size: 120%;
        margin: 0 10px;
    }

    /* Versus Computer*/

    .computer-area {
        padding-left: 2.2rem;
    }

    .player-area {
        padding-right: 2.2rem;
    }

    .dice-size {
        width: 9.5rem;
        height: 9.5rem;
        object-fit: contain;
    }

}

@media (min-width:1024px) {
    body {
        font-size: 150%;
    }

    h1 {
        height: 12.5rem;
        font-size: 500%;
    }

    h1 span {
        display: inline-block;
        margin-top: 20px;
    }

    footer {
        padding: 2rem;
    }



    #start-button {
        border-radius: 25px;
        font-size: 270%;
    }


    #roll-btn {
        font-size: 160%;
        letter-spacing: 1px;
        width: 15rem;
    }

    #choose-opponent-btn {
        font-size: 110%;
        border-radius: 5%;
        margin: 2px;
        padding: 0.5rem;
        margin-bottom: 15px;
        width: 25rem;
    }

    .game-settings-btn {
        width: 15rem;
        height: 4rem;
        font-size: 5px;
        font-weight: 600;
    }

    .game p {
        margin: 0 5rem;
    }


    .game {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }

    .images-box {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .images-box>img:first-child {
        width: 19rem;
        height: 19rem;
    }

    .images-box>img:last-child {
        width: 19rem;
        height: 19rem;
    }


    .dice-images {
        width: 16rem;
        height: 16rem;
    }

    .dice-size {
        width: 13rem;
        height: 13rem;
    }

    .font-icons>* {
        font-size: 120%;
        margin: 0 10px;
    }

    /* Versus Computer*/

    .computer-area {
        padding-left: 2.2rem;
    }

    .player-area {
        padding-right: 2.2rem;
    }

}