/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "Cabin", sans-serif;
    background-color: rgb(44, 202, 242);

}

/* Header */


main,
footer {
    padding: 0 10px;
}

h1 {
    font-family: "Luckiest Guy", sans-serif;
    letter-spacing: 2px;
    text-align: center;
    font-size: 350%;
    width: 100%;
    background-color: rgb(137, 217, 237);

}

.introduction {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.introduction p {
    font-size: 100%;
    padding: 0 15px;
}

.font-icons {
    font-size: 180%;
    display: flex;
}

.font-icons i {
    padding: 0 5px;
}


#start-button {
    width: 80%;
    height: 6rem;
    border-radius: 5%;
    font-size: 180%;
    background-color: rgb(137, 217, 237);
    cursor: pointer;


}

/*
* Main
* Make the main element take up any surplus space to push the footer down
* Appears only when the "Lets play" button is clicked
*/
main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.game-area {
    display: flex;
    flex-direction: column;
}

.game-questions {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-between;
    height: 50%;
}

.game-questions>div {
    padding: 5px 10px;
}

.game-questions button {
    background-color: rgb(137, 217, 237);
    font-size: 100%;
    padding: 5px 5px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 5%;
}

.game-questions p {
    font-size: 110%;
}

.game-selection p {
    margin-bottom: 10px;
}

.game {
    border: 1px solid black;
    height: 200px;
}

.score-area {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-right: 10px;
}



/*Footer */

footer {
    padding: 5px;
    background-color: rgb(137, 217, 237);
}